---
layout: "verifiedid"
page_title: "Provider: Verified ID"
description: |-
  The Verified ID Provider is used to interact with Microsoft Entra Verified ID through Microsoft Graph APIs.
---

# Verified ID Provider

The Verified ID provider is a fork of the MSGraph provider, specifically focused on Microsoft Entra Verified ID management. 

Documentation regarding the [Data Sources](/docs/configuration/data-sources.html) and [Resources](/docs/configuration/resources.html) supported by the Verified ID Provider can be found in the navigation to the left.

Interested in the provider's latest features, or want to make sure you're up to date? Check out the [changelog](https://github.com/mjendza/terraform-provider-verifiedid/blob/main/CHANGELOG.md) for version information and release notes.

This is a fork from [terraform-provider-msgraph](https://github.com/microsoft/terraform-provider-msgraph).

Also, there is a rich library of [examples](https://github.com/mjendza/terraform-provider-verifiedid/tree/main/examples) to help you get started.

## Authenticating to Microsoft Graph

Terraform supports a number of different methods for authenticating to Azure:

* [Authenticating using the Azure CLI](guides/azure_cli.html)
* [Authenticating using Managed Service Identity](guides/managed_service_identity.html)
* [Authenticating using a Service Principal and a Client Certificate](guides/service_principal_client_certificate.html)
* [Authenticating using a Service Principal and a Client Secret](guides/service_principal_client_secret.html)
* [Authenticating using OpenID Connect](guides/service_principal_oidc.html)

---

We recommend using either a Service Principal or Managed Service Identity when running Terraform non-interactively (such as when running Terraform in a CI server) - and authenticating using the Azure CLI when running Terraform locally.

## Example Usage

```hcl
# We strongly recommend using the required_providers block to set the
# Verified ID Provider source and version being used
terraform {
  required_providers {
    verifiedid = {
      source = "mjendza/verifiedid"
    }
  }
}

provider "verifiedid" {
}

```

{{ .SchemaMarkdown | trimspace }}
